body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: 100px;
  text-align: center;
  color: #e8d0d0;
}

#todo-app {
  width: 550px;
  margin: auto;
  background-color: white;
}

#todo-app header, #todo-app footer, div.table-wrapper {
  border: 1px solid grey;
  border-bottom: 0;
  height: 60px;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.table-cell-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#todo-app section {
  font-size: 25px;
}

input[type=checkbox] {
  float: left;
  margin: 9px 13px;
}

input[type=text] {
  border: none;
  font-size: 25px;
}

#todo-app footer {
  border-bottom: 1px solid grey;
  height: 40px;
  font-size: 14px;
}

#todo-app footer span.center {
  position: absolute;
  width: 550px;
}

#todo-app footer span.center a {
  padding: 3px 7px;
  margin: 0 5px;
  text-decoration: none;
  color: #707070;
}

#todo-app footer span:last-child {
  float: right;
  margin-right: 15px;
  color: #707070;
}

.center {
  text-align: center;
}

.active {
  border: 1px solid #e8a8a8;
  border-radius: 3px;
}
