body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  line-height: 135px;
  font-size: 100px;
  font-weight: normal;
  text-align: center;
#  color: #e8d0d0;
  color:#e8b8b8;
}

#todo-app {
  width: 550px;
  margin: auto;
  margin-top: -5px;
  background-color: white;
}

#todo-app header form, #todo-app section form {
  border: 1px solid grey;
  border-bottom: 0;
  width: 100%;
  line-height: 60px;
  display: block;
}

#todo-app header form {
  line-height: 55px;
}

#todo-app header form input[type=text] {
  margin-top: 13px;
}

#todo-app section {
  font-size: 25px;
}

.hidden {
  display: none;
}

input[type=checkbox] {
  float: left;
  margin: 23px 13px;
}

input[type=text] {
  border: none;
  font-size: 25px;
  width: 500px;
}

.completed {
  text-decoration: line-through;
  color: #cccccc;
}

.delete {
  float: right;
  margin-right: 10px;
  display: none;
}

.delete a {
  color: #e88080;
}

#todo-app footer {
  border: 1px solid grey;
  height: 40px;
  width: 100%;
  font-size: 14px;
  color: #707070;
}

.footer-left {
  float: left;
  width: 135px;
  line-height: 40px;
  padding-left: 15px;
}

.footer-center {
  float: left;
  width: 250px;
  line-height: 40px;
}

.footer-right {
  float: right;
  line-height: 40px;
  text-align: right;
  margin-right: 15px;
}

#todo-app footer span.footer-center a {
  padding: 3px 7px;
  margin: 0 5px;
#  text-decoration: none;
#  color: #707070;
}

a {
  cursor: pointer;
}

body > footer {
  margin-top: 10px;
}

.active {
  border: 1px solid #e8a8a8;
  border-radius: 3px;
}

.center {
  text-align: center;
}

